{{!-- vamos usar variaveis que os valores foram definidos lá no beck end no arquivo index.js --}}
<h1>Olá handlebars!</h1>
<p>Meu nome é {{user.name}} {{user.surname}}</p>
<p>a palavra secreta é: {{palavra}}</p>
{{!-- basta chamar a variavel pelo nome e colocar um ponto em seguida o nome da chave do valor que deseja --}}
