<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste handlebars</title>
</head>
<body>
    {{!-- se deixar o body com apenas dois {{}} ele vai ler o html como texto e não como html --}}
    {{{body}}}
</body>
</html>